.u-margin-top-small {
  margin-top: $margin-small;
}

.u-margin-top-medium {
  margin-top: $margin-medium;
}

.u-margin-top-big {
  margin-top: $margin-big;
}

.u-margin-bottom-small {
  margin-bottom: $margin-small;
}

.u-margin-bottom-medium {
  margin-bottom: $margin-medium;
}

.u-margin-bottom-big {
  margin-bottom: $margin-big;
}
