// four different shades of dark grey 1,2,3,4 where 1 is darkest and 4 is lightest among them
$color-grey-dark-1: #222;
$color-grey-dark-2: #333;
$color-grey-dark-3: #444;
$color-grey-dark-4: #555;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #bbb;

$color-accent: #52449e;
$color-accent-light: #6a5fa7;
$color-accent-extra-light: #9f95da;
$color-accent-dark: #362a7a;

$color-error: #be4458;

// screen widths
$screen-width-small: 600px;

$margin-small: 3rem;
$margin-medium: 5rem;
$margin-big: 8rem;
